#ContactPage {
  display: grid;
  grid-template-columns: 2;
  padding-bottom: 4vh;
  border-bottom: 1px solid black;

  .kapcsolat {
    grid-column-start: 1;
    grid-column-end: 2;
    color: #67809f;
    text-shadow: 2px 2px 5px rgba(103, 128, 159, 0.3);
    margin-left: 10vw;
    margin-top: 20vh;


    h3{
        text-decoration: underline;
        padding-bottom: 1vh;
    }
  }

  .ajanlatkeres {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-right: 5vw;
    margin-top: 5vh;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vh;
    background-color: #67809f;
    color: white;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
    border: 1px solid black;
    border-radius: 15px;

    h3{
        text-align: center;
        padding-bottom: 2vh;
    }
  }

  button{
    
    background-color: #FF9900;
    color: #0066FF;
    text-shadow: 2px 2px 6px rgba(100, 149, 237, 0.5);
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
}
