#Footer{ 
    height: max-content;
    padding-left: 5vw;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: auto;
    background-color: #FF9900;
    color: #0066FF;
    text-shadow: 2px 2px 7px rgba(100, 149, 237, 0.6);
    font-weight: bold;
    border: 1px solid #0066FF; 
}
#Footer .legacy{
    grid-column-start: 1;
    grid-column-end: 2;
}
#Footer .author{
    /* width: 50vw; */
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: repeat(2,auto);
}

@media (min-width: 550px) and (max-width: 1024px){
    #Footer{   
        height: max-content;
        font-size: small;
    }
}


@media (max-width: 550px){
    #Footer{
        height: max-content;
        font-size: x-small;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
       
    }
    #Footer .legacy{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        width: 100%;
        padding-top: 1vh;
    }
    #Footer .legacy p{
        text-align: center;
    }

    #Footer .author{
        width: 100%;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        

    }
}


