@keyframes fadeInDown {
    0% {
      transform: translateY(-20px); /* Kezdés fentről */
      opacity: 0; /* Kezdetben láthatatlan */
    }
    100% {
      transform: translateY(0); /* Eredeti helyére kerül */
      opacity: 1; /* Teljesen látható */
    }
  }

  @font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

#Partners{
    height: 20rem;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    border: 1px solid black;     
}
#Partners .partnerTitle{
  text-align: center;
  padding-bottom: 5vh;
}
#Partners .partners{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Bebas Neue';
}
#Partners img{
  width: 10rem;
  height: auto;
}
#Partners .schindlerImg{
  height: 5rem;
  width: 5rem;
}
#Partners .pataki{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Partners .comLift{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Partners .schindler{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Partners .partners > div {
  opacity: 0; /* Kezdetben láthatatlan */
  transform: translateY(-20px); /* Kezdés fentről */
  transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* Smooth animáció */
}
#Partners .partners > div.animate {
  animation: fadeInDown 0.8s ease-out forwards; /* Az animáció bekapcsolása */
}

@media (max-width: 440px){
  #Partners .partners{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #Partners .pataki{
    padding-bottom: 2vh;
  }
  #Partners .elevatorFriends{
    padding-bottom: 2vh;
  }
}