#ServicePage{
    color: #67809f;

    .services{
        display: flex;
        flex-direction: column;
        padding-left: 5vw;
        padding-right: 5vw;

        section{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            padding-top: 5vh;
            padding-right: 5vw;
            
        }
        h3{
            text-decoration: underline;
            padding-bottom: 3vh;
        }
        img{
            height: 28vh;
            margin-left: 5vw;
            ;

        }
        p{
            padding-left: 2vw;
        }
        
    }
}